

.screen{
    width: 375px;
    height: 812px;
    background-color: #a3fcee;
    margin: auto;

    &__logo{
        width: 100px;
        height: 100px;
        margin-left: 40%;
        margin-top: 20%;
        &--petit{
            width: 75px;
            height: 75px;
            margin-left: 75%;
            margin-top: 38%;
        }
    }

    &__form{
        width: 200px;
        height: 50px;
        margin-top: 60px;
        margin-left: 25%;
        text-align: center;
        border: solid 1px black;   
    }

    &__button{
        width: 200px;
        height: 50px;
        background-color: white;    
        border: solid 1px black;    
        margin-left: 25%;
        margin-top: 120px;
    }

    &__buttontext{
        text-align: center;
        padding-top: 17px;
        font-style: inherit;
    }
}
